<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="31000">
        <setting id="auto_play_enabled" type="bool" label="31001" default="false" />
        <setting id="preferred_language" type="enum" label="31002" lvalues="30200|30202" default="0" enable="eq(-1,true)" />
    </category>

    <category label="31008">
        <setting label="31009" type="lsep" />
        <setting id="source_assistirbiz" type="bool" label="31100" default="false"/>
        <setting id="source_cinevibehd" type="bool" label="31101" default="false"/>
        <setting id="source_goflix" type="bool" label="31102" default="false"/>
        <setting id="source_netcine" type="bool" label="31103" default="true"/>
        <setting id="source_overflix" type="bool" label="31104" default="false"/>
        
        <setting label="31010" type="lsep" />
        <setting id="source_animesup" type="bool" label="31105" default="true"/>
        <setting id="source_animesdigital" type="bool" label="31106" default="false"/>
        <setting id="source_hinatasoul" type="bool" label="31107" default="false"/>
    </category>

    <category label="32100">
        <setting id="upnext_enabled" type="bool" label="32101" default="true" />
        <setting id="upnext_trigger_seconds" type="number" label="32102" default="30" />
        <setting id="upnext_countdown_seconds" type="number" label="32103" default="10" />
    </category>
    
    <category label="31004">
        <setting id="clear_cache" type="action" label="31005" action="RunScript(special://home/addons/plugin.video.thethunder/resources/lib/cache_manager.py,clear_cache)" />
        <setting id="show_cache" type="action" label="31006" action="RunScript(special://home/addons/plugin.video.thethunder/resources/lib/cache_manager.py,show_cache)" />
        <setting id="cache_ttl_days" type="number" label="31007" default="7" />
    </category>

    <category label="31011">
        <setting id="update_resolveurl" type="action" label="31012" 
                 action="RunScript(special://home/addons/plugin.video.thethunder/resources/lib/resolveurl.py,update)" />
    </category>
</settings>
